# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/anaehugo/fugaemfamilia/backend_v2"
PassengerBaseURI "/backoffice"
PassengerPython "/home/anaehugo/virtualenv/fugaemfamilia/backend_v2/3.12/bin/python"
PassengerAppLogFile "/home/anaehugo/fugaemfamilia/backend_v2/backoffice.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END