# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/anaehugo/fugaemfamilia/backoffice"
PassengerBaseURI "/backoffice"
PassengerPython "/home/anaehugo/virtualenv/fugaemfamilia/backoffice/3.12/bin/python"
PassengerAppLogFile "/home/anaehugo/fugaemfamilia/backoffice/backoffice.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END