blinker==1.8.2
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==4.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
numpy==2.0.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.2
pip-check-reqs==2.5.3
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.26.0
six==1.16.0
tomli==2.0.2
tzdata==2024.1
urllib3==1.26.20
Werkzeug==3.0.3
